<nav id="navbar-header" class="navbar navbar-expand-lg">
  <div class="container">
    <a
      class="navbar-brand navbar-brand-center d-flex align-items-center p-0 only-mobile"
      href="/"
    >
      <img src="assets/img/logo.png" alt="" />
    </a>
    <button
      class="navbar-toggler "
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="lnr lnr-menu"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between "
      id="navbarSupportedContent"
      (click)="closeNav()"
    >
      <ul class="navbar-nav d-flex justify-content-between">
        <div class="d-flex flex-lg-row flex-column">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ourteam">Team</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Special Dishes
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="freg('meal1')"
                >{{SpecialMeal?.[0].name}} </a
              >
              <a class="dropdown-item" (click)="freg('meal2')"
                >{{SpecialMeal?.[1].name}}</a
              >
            </div>
          </li>
        </div>
      </ul>

      <a
        class="navbar-brand navbar-brand-center d-flex align-items-center only-desktop"
        routerLink="/home"
      >
        <img src="assets/img/logo.png" alt="logo" />
      </a>
      <ul class="navbar-nav d-flex justify-content-end">
        <div class="d-flex flex-lg-row flex-column justify-content-end">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="freg('reserve')">Reserve</a>
          </li>
          <li class="nav-item dropdown">
            <a
              *ngIf="Auth"
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user-check"></i> Hi,{{ UserName |text:5}}
            </a>
            <a
              *ngIf="!Auth"
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user-check"></i> Account
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="love" routerLink="/favourite"
                ><i style="font-size: 18px" class="fa-regular fa-heart"></i>
                Favourite</a
              >
              <a *ngIf="!Auth" class="dropdown-item" routerLink="/signin"
                ><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a
              >
              <a *ngIf="!Auth" class="dropdown-item" routerLink="/signup">
                <i class="fa-solid fa-user-pen"></i> Register</a
              >
              <a *ngIf="Auth" class="dropdown-item" routerLink="/myreservation"
                ><i class="fa-solid fa-utensils"></i> Your ReServation</a
              >
              <a
                *ngIf="Auth"
                class="dropdown-item"
                routerLink="/signin"
                (click)="logOut()"
                ><i id="logout" class="fa-solid fa-arrow-right-to-bracket"></i>
                LogOut</a
              >
            </div>
          </li>
         
          <li class="nav-item dropdown">
            <a  routerLink="/order">
              <i
                class="fa-solid fa-cart-shopping shoping"
                id="cart"
               
                style="position: relative"
              >
            <div class="ciircle">{{ number() }}</div>
              </i>
              Cart</a
            >
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
