<section id="gtco-welcome" class="bg-white section-padding">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div
          class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2"
          style="
            background-image: url(assets/img/banana-pancakes-3-400x500.jpg);
          "
        ></div>
        <div class="col-sm-7 py-5 pl-md-0 pl-4">
          <div class="heading-section pl-lg-5 ml-md-5">
            <span class="subheading"> About </span>
            <h2>Welcome to Resto</h2>
          </div>
          <div class="pl-lg-5 ml-md-5">
            <p>
              Dear customers and friends. For the health, safety and well-being
              of our customers, employees and communities,Resto Restaurant is
              operating with a Limited team, Maintaining Colleague distancing at
              work. Our team is certified trained in Covid-19 food preparation
              and handling, we are following FSSAI food safety guidelines for
              utmost care and hygiene😷. We have resumed contactless delivery
              and takeout, please place your orders directly with us. So
              whatever you want for dinner, lunch or breakfast we will be happy
              to get it for you😇.
            </p>
          </div>
        </div>
      </div>
      <h3 class="mt-5">Our Categories</h3>
      <div class="row justify-content-center">
        <div class="col-md-4 col-10" *ngFor="let category of categories">
          <a class="thumb-menu" routerLink="/menu">
            <img
              class="img-fluid img-cover"
              src="{{ category.medially[0].file_url }}"
            />
            <h5>{{ category.name }}</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
