/* You can add global styles to this file, and also import other style files */
@import url(assets/css/style.min.css);

*{
    text-transform: capitalize;
    font-family: "Jost","futura-pt","Proxima-Nova",Arial,"sans-serif";
}
a{
    cursor: pointer;
}
.error{
    color: red;
    font-size: 13px;
}