.special {
  position: relative;
  font-size: 60px;
  color: #f34949;
}
.boxed-page.section-padding {
  padding-bottom: 0 !important;
}
img {
  height: 50vh;
  border-radius: 5%;
}
.MenuBtn {
  box-shadow: 1px 0px 8px 1px darkgrey;

    position: absolute;
    top: 2px;
    left: 4px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.MenuBtn:hover{
  color: #f34949;
}
section{
    position: relative;
}
.actions{
  box-shadow: 1px 0px 8px 1px darkgrey;
    border: 0;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
}
.actions i{
  color: black;
  font-size: 20px;
}
.actions:hover i{
  color: #f34949;
}

